* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.img1 {
	width: 100%;
	height: 200px;
	background-image: url(file:///Users/kamioka_24/Desktop/img/box1.jpg);
	background-size: cover;
	background-position: center;
}

.img2 {
	width: 100%;
	height: 200px;
	background-image: url(file:///Users/kamioka_24/Desktop/img/box2.jpg);
	background-size: cover;
	background-position: center;
}

.img3 {
	width: 100%;
	height: 200px;
	background-image: url(file:///Users/kamioka_24/Desktop/img/box3.jpg);
	background-size: cover;
	background-position: center;
}

.img4 {
	width: 100%;
	height: 200px;
	background-image: url(file:///Users/kamioka_24/Desktop/img/box4.jpg);
	background-size: cover;
	background-position: center;
}